.credit_note_mode {
    color: white;
    background: #6EC89B !important;
    border-color: transparent;
}
.tbl td {
    padding: 10px !important;
}

.tbl select {
    width: 260px !important;
    height: 35px !important;
}
